.dialog__container{
    display: flex;
    flex-direction: column;    
    align-items: center;           
}

.row1{
    display: flex;
    justify-items: center;
}
.row2{
    display: flex;
    justify-items: center;
}
.row3{
    display: flex;
    justify-items: center;
}



.buttongroup{
    display: flex;
    justify-content: space-between;
    
}
