.box__paper{
    display: flex;
    flex-direction: column;
}

.customerType__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    
}

.customerType__name{
    width: 600px;
}
.customerType__discount{
    width: 200px;
}

.customerType__remarks{
    width: 600px;
}

.customerType__row2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 37vw;
    padding-right: 37vw;
}