.cartitem__block{
    display: flex;
    width: 100vw;    
}

.cartitem__column1{    
    padding-left: 15px;
    padding-right: 15px;
    /* width:24vw;
    height: 70vh; */
    /* background-color: darkgreen; */
}
.cartitem__column2{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    /* width:25vw;
    height: 70vh; */    
    /* background-color: rgb(189, 131, 45); */
}
